<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>프로필 작성</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/addProfile.css}" />
    </head>
    <body>
        <div class="profile-container">
            <h2>Create Profile</h2>
            <form th:action="@{/create-profile}" method="POST">
                <input type="hidden" id="id" name="id" th:value="${id}"/>

                <label for="name">이름:</label>
                <input type="text" id="name" name="name" required/>

                <label for="age">나이:</label>
                <input type="text" id="age" name="age" required/>

                <label for="job">직업:</label>
                <input type="text" id="job" name="job" required/>

                <label for="phone">연락처:</label>
                <input type="text" id="phone" name="phone" required/>

                <label for="mbti">MBTI:</label>
                <input type="text" id="mbti" name="mbti" required/>

                <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
</html>