<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>프로필 리스트</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profileList.css}" />
</head>
<body>
<div class="list-container">
    <h2>승인 대기 프로필 목록</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>나이</th>
            <th>직업</th>
            <th>연락처</th>
            <th>MBTI</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profile : ${profiles}">
            <td th:text="${profile.id}"></td>
            <td th:text="${profile.name}"></td>
            <td th:text="${profile.age}"></td>
            <td th:text="${profile.job}"></td>
            <td th:text="${profile.phone}"></td>
            <td th:text="${profile.mbti}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
